{block content}
<div class="error-page">
    <h2 n:inner-block=title>Stránka nenalezena</h2>

    <p>Vámi požadovaná stránka nebyla nalezena.
        Je možné, že jste se jen přepsali, proto zkontrolujte, zda-li Vámi zadaná
        adresa je skutečně ta, kterou jste zamýšleli navštívit.</p>

    <p><small>chyba 404</small></p>
</div>