pageTitle: "Articles overview"

noArticlesFound: "No Articles found"
hasComments: "has one comment|has %count% comments"
noCommentsClosedComments: "comments are closed"

tableTitle:
	draft: "Draft articles"
	waiting: "Articles waiting for publication"
	published: "Published articles"

rowTitle:
	created: created
	published: published
	article: article
	action: action

actions:
	edit: edit
	remove: remove