title:
	label: "Article title (*)"
	info: "[max. %count% characters]"
	messages:
		required: "Please type the title of your Article"
		maxLength: "Maximal allowed length of Article title is %count% characters"

publishedAt:
	label: "Date of publication (*)"
	messages:
		required: "Please set the Date of publication"
		maxLength: "Maximal allowed length of Date of publication is %count% characters"
		emptyOnPublishing: "You must set Date of Publication before publishing Article"

intro:
	label: "Article intro (*)"
	info: "[max. %count% characters] (It will be visible in articles overview)"
	messages:
		required: "Type the intro of your Article"
		maxLength: "Maximal allowed length of Article intro is %count% characters"

text:
	label: "Article text"
	messages:
		required: "Please type the text of your Article"

url:
	label: "Url address"
	info: "If you do NOT type Article URL address then it will be created from Article title"

keywords:
	label: "Keywords"
	info: "meta keywords"

description:
	label: "Description"
	info: "meta description"

allowedComments:
	label: "Allow people comment your Article"

lang:
	label: "Language"
	info: "Cannot be changed later"

saveAndPublish:
	caption: "Save and Publish"
	title: "Saves the Article and displays it publicly"

saveAsDraft:
	caption: "Save as draft"
	title: "Saves the Article for later editing. Article is NOT displayed publicly"

returnAtTop: "Return at the start of the form"

# languages

en: "written in english"
cs: "written in czech"

# flash messages

messages:
	successPublish: "Article has been successfully saved and displayed publicly"
	successDraft: "Article has been successfully saved as draft"
	missingPublicationTime: "Please set the Date of publication"
	publishedPageInvalidPublicationTime: "You cannot set the publication time of already published Article into a future."
	titleExists: "Article with this title already exists. Please change the Article title."
	urlExists: "This URL address already exists. Please change the URL address."
	pageIntroHtmlLength: "The HTML result of intro conversion too long. Make Page intro shorter please."
	savingError: "An Error has occurred. Please try again later."