title:
	new: "New Article"
	edit: "Article editing"

section:
	tags:
		title: Tags
		actions:
			add: "+ add Tag"
		messages:
			noTags: "No tags found."
			createNewTag_q: "Do you want to create some?"