{block styles}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/assets/css/jquery.datetimepicker.min.css">
{/block}

{block scripts}
    {include parent}
    <script src="{$basePath}/assets/js/newPage.min.js"></script>
{/block}

{block content}

<section class="new-page">

    <div class="row">
        <h1 n:inner-block="title" class="col-md-12" id="top">Úprava článku</h1>
    </div>

    {control articleForm}

</section>

{/block}