{block styles}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/assets/css/jquery.datetimepicker.min.css">
{/block}


{block scripts}
    {include parent}
    <script src="{$basePath}/assets/js/editPage.min.js"></script>
{/block}


{block content}
<div class="row">
    {control articleForm}
</div>
{/block}