
{block content}

{snippet pagesTables}
    <div class="articles-overview">
        {control draftPagesOverview}
    </div>

    <div class="articles-overview">
        {control waitingPagesOverview}
    </div>

    <div class="articles-overview">
        {control publishedPagesOverview}
    </div>
{/snippet}

{/block}