
{block content}

{snippet pagesTables}
    {rowCol articles-overview}
        {control draftPagesOverview}
    {/rowCol}

    {rowCol articles-overview}
        {control waitingPagesOverview}
    {/rowCol}

    {rowCol articles-overview}
        {control publishedPagesOverview}
    {/rowCol}
{/snippet}

{/block}