services:

	# Facades
	tagFacade: Tags\Facades\TagFacade

	# Factories
	tagsOverviewControlFactory:
		implement: Tags\Components\ITagsOverviewControlFactory

	tagControlFactory:
		implement: Tags\Components\ITagControlFactory
		arguments: [array tag]