/vendor
app/config/config.local.neon

/.idea
bower_components
node_modules
tests/temp/cache
.sass-cache

/assets/css/*.css
/assets/css/*/*.css
/assets/css/*/*.map

/assets/js/concatenated/*
/assets/js/*.min.js

/assets/fonts/*

/temp/cache/*
/temp/sessions/*

!git.folder.keep