/vendor
app/config/config.local.neon

/.idea
bower_components
node_modules
tests/temp/cache
.sass-cache
/.htaccess

www/assets/css/*.css
www/assets/css/*/*.css
www/assets/css/*/*.map

www/assets/js/original/*
www/assets/js/*.min.js

www/assets/fonts/*
www/uploads/images/*

/temp/cache/*
/temp/sessions/*

!git.folder.keep
/nbproject