/vendor
app/config/config.local.neon

/.idea
bower_components
assets/js/main.js
assets/js/js.js
assets/js/js.min.js
node_modules
tests/temp/cache
.sass-cache
assets/css/original
assets/css/front.min.css
assets/js/shivAndRespond.js
assets/js/shivAndRespond.min.js
assets/css/admin.min.css