
{if count($tags) > 0}
<ul class="tags-list">
    {foreach $tags as $tag}
        <li>
            <label for="tag-{$tag->getId()}">
            <span class="tag" style="background-color: {$tag->getColor()|noescape};" data-tag-color="{$tag->getColor()|noescape}">
                <i class="fa fa-tag fa-fw"></i>{$tag->getName()}
                <input type="checkbox" id="tag-{$tag->getId()}" name="tags[]" class="tag-checkbox" value="{$tag->getId()}"{if array_key_exists($tag->getId(), $pageTags)} checked{/if}>
            </span>
            </label>
        </li>
    {/foreach}
</ul>
{else}
<p>{_pageEdit.section.tags.messages.noTags} <a href="{plink :Tags:Tag:default}">{_pageEdit.section.tags.messages.createNewTag_q}</a></p>
{/if}