
{*<a href="">+ add User</a>*}
<div class="box box-river">
    <table class="table table-hover">
        <tr>
            {translator users.overview.rowTitle}
            <th>#ID</th>
            <th class="w200">{_name}</th>
            <th>{_roles}</th>
            <th class="w250">{_actions}</th>
            {/translator}
        </tr>

        {foreach $users as $user}
            <tr>
                <td class="w25">{$user->getId()}</td>
                <td>{$user->getName()}</td>
                <td>
                    {foreach $user->getRoles() as $role}
                        {$role}{sep},{/sep}
                    {/foreach}
                </td>
                <td class="w50">
                    {translator users.overview.actions}
                    <a href="{plink :Users:Admin:Users:detail, id => $user->getId()}" class="btn btn-river"><i class="fa fa-cog"></i> {_edit}</a>
                    <a href="#" class="btn btn-red"><i class="fa fa-trash"></i> {_remove}</a>
                    {/translator}
                </td>
            </tr>
        {/foreach}
    </table>
</div>