
{*<a href="">+ add User</a>*}
<div class="box box-river">
    <table class="table table-hover">
        <tr>
            {translator users.overview.rowTitle}
            <th>#ID</th>
            <th class="w200">{_name}</th>
            <th>{_roles}</th>
            <th class="w250">{_actions}</th>
            {/translator}
        </tr>

        {foreach $users as $currentUser}
        {var $isItMe = $user->getIdentity()->getId() === $currentUser->getId()}
            <tr n:class="$isItMe ? user-yourself">
                <td class="w25">{$currentUser->getId()}</td>
                <td>{$currentUser->getName()}{if $isItMe} (<b>{_users.overview.you}</b>){/if}</td>
                <td>
                    {foreach $currentUser->getRoles() as $role}
                        {$role}{sep},{/sep}
                    {/foreach}
                </td>
                <td class="w50">
                    {translator users.overview.actions}
                    <a href="{plink :Users:Admin:Users:detail, id => $currentUser->getId()}" class="btn btn-river"><i class="fa fa-cog"></i> {_edit}</a>
                    <a href="{plink :Users:Admin:Users:userRemove, id => $currentUser->getId()}"
                       class="btn btn-red"
                       n:if="$isItMe === false"><i class="fa fa-trash"></i> {_remove}</a>
                    {/translator}
                </td>
            </tr>
        {/foreach}
    </table>
</div>