header:
	textBeforePublishingTime: "Publikováno"
	comments: "{1}jeden komentář|[2,4]%count% komentáře|[5,+Inf[%count% komentářů"

content:
	readMore: "Přejít na celý článek"

comments:
	topSectionHeader: "Komentáře"
	silencedComment: "potlačený komentář"
	addComment: "přidat komentář"

	actions:
		reply:
			label: "odpovědět"

		silence:
			label: "potlačit text"
			messages:
				success: "Obsah komentáře byl úspěšně potlačen"

		release:
			label: "zobrazit text"
			messages:
				success: "Obsah komentáře byl úspěšně zobrazen"

		remove:
			label: "odstranit"
			info: "Nenávratně odstraní komentář"
			messages:
				error: "Při odstraňování komentáře došlo k chybě"

		messages:
			permission: "Upps, tak s tímhle ti nepomůžu"

	messages:
		noComments: "Článek neobsahuje žádné komentáře."
		pageDraft: "Toto je pracovní verze článku. Nelze přidávat komentáře."
		closedComments: "K tomuto článku již nelze přidávat komentáře."
		silencedComment: "Obsah komentáře byl skryt z důvodu jeho nevhodnosti"

	form:
		heading: "Nový komentář"

		inputs:
			author:
				label: "Autor"
				messages:
					required: "Vyplňte prosím jméno autora"

			text:
				label: "Text"
				messages:
					required: "Vyplňte prosím text komentáře"

			submit:
				caption: "Odeslat komentář"

		messages:
			success: "Komentář byl úspěšně odeslán"
			error: "Při ukládání komentáře nastala chyba"
			closedComments: "Komentáře již není možné přidávat"

texyHelp:
	heading: "Texy nápověda"

	bold: "<b>tučný text</b> - **tučný text**"
	italic: "<i>kurzíva</i>    - *kurzíva*"
	link: "<a href=\"http://www.ab.cd\">odkaz</a>      - \"odkaz\":www.ab.cd"

	quotation: "Citace"
	quotationExample: "Text, který chcete citovat"

	lists: "Seznamy"
	listAddition: "pomlčka na začátku řádku"
	item: "položka seznamu"

	replies: "Reakce"
	reply: "Reakci na jiný příspěvek vytvoříte zavináčem a pořadovým \r\nčíslem komentáře, na který reagujete"
	replyExample: "např. <strong>@5</strong> text komentáře"

	code: "Kód"
	codeLang: "jazyk"
	codeContent: "váš kód"
	languages: "podporované jazyky:"