<section class="pages-overview">

{if $pagesCount > 0}

    {foreach $pages as $id => $page}
        {control page-$id}
    {/foreach}

    {control vs}

{else}
    <div class="col-md-12">
        <p>Nebyly nalezeny žádné příspěvky.</p>
    </div>
{/if}

</section>