<section class="pages-overview">

{if $pagesCount > 0}

    {foreach $pages as $page}

        {control page-$page->id}

        {*<div class="delimiter" n:if="!$iterator->isLast()"></div>*}
    {/foreach}

    {control vs}

{else}
    <div class="col-md-12">
        <p>Nebyly nalezeny žádné příspěvky.</p>
    </div>
{/if}

</section>