body{
  font-size: 14px;
}

.container header{
  display: none;
}

.page{
  header{
    display: block;
  }

  .page-info{
    display: none;
  }

  h2{ font-size: 2em; }
  h3{ font-size: 1.70em; }
  h4{ font-size: 1.40em; }
  h5{ font-size: 1.1em; }
}

pre{
  border: 1px solid #ccc;
}

.comments{
  display: none;
}

.page-footer{
  display: none;
}