# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

includes:
	- parameters.neon
	- extensions.neon
	- services.neon



php:
	date.timezone: Europe/Prague



application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

	debugger:
		email: %adminEmail%
		bar:
			- Nette\Bridges\HttpTracy\SessionPanel



session:
	autoStart: true
	expiration: 14 days
	savePath: %appDir%/../temp/sessions
	name: 'blog'



latte:
	macros:
		- blitzik\Macros\FormsMacro
		- blitzik\Macros\GridMacros



doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository



translation:
	default: cs_CZ
	fallback: [en_US, en_US]
	whitelist: [en_US, cs_CZ]



monolog:
	name: blitzik-cms
	#registerFallback: %debugMode%



decorator:
	App\Components\BaseControl:
		setup:
			- injectFlashMessagesFactory(@App\Components\IFlashMessagesControlFactory)
			- injectFlashMessagesTranslator(@Kdyby\Translation\Translator)
			- setAuthorizator(@users.authorizator)
			- setUser(@security.user)

	App\Presenters\AppPresenter:
		setup:
			- setAuthorizator(@users.authorizator)