# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

includes:
	- parameters.neon
	- extensions.neon
	- services.neon



php:
	date.timezone: Europe/Prague



application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

	debugger:
		#email: %adminEmail%
		bar:
			- Nette\Bridges\HttpTracy\SessionPanel



session:
	autoStart: true
	expiration: 14 days
	savePath: %appDir%/../temp/sessions
	name: 'blog'



latte:
	macros:
		- blitzik\Macros\FormsMacro



doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository



translation:
	default: cs
	fallback: [en]
	whitelist: [cs, en]



monolog:
	name: blitzik-cms
	#registerFallback: %debugMode%



decorator:
	App\Components\BaseControl:
		setup:
			- injectFlashMessagesFactory(@App\Components\IFlashMessagesControlFactory)
			- injectFlashMessagesTranslator(@Kdyby\Translation\Translator)