extensions:

	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

	# Blog extensions
	users: Users\UsersExtension
	url: Url\DI\UrlExtension
	pages: Pages\DI\PagesExtension
	images: Images\ImagesExtension
