extensions:

	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	symnediEventDispatcher: Symnedi\EventDispatcher\DI\EventDispatcherExtension

	# core extensions
	core: App\DI\CoreExtension
	url: Url\DI\UrlExtension
	users: Users\DI\UsersExtension
	localization: Localization\DI\LocalizationExtension
	log: Log\DI\LogExtension

	# Blog extensions
	options: Options\DI\OptionsExtension
	#navigation: Navigations\DI\NavigationExtension
	dashboard: Dashboard\DI\DashboardExtension
	pages: Pages\DI\PagesExtension
	images: Images\DI\ImagesExtension
