extensions:

	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

	# Blog extensions
	options: Options\OptionsExtension
	users: Users\UsersExtension
	url: Url\DI\UrlExtension
	dashboard: Dashboard\DashboardExtension
	pages: Pages\DI\PagesExtension
	tags: Tags\TagsExtension
	images: Images\ImagesExtension
