services:

	paginatorFactory: blitzik\IPaginatorFactory

	metaTagsControlFactory:
		implement: App\Components\IMetaTagsControlFactory

	flashMessagesControl:
		implement: App\Components\IFlashMessagesControlFactory