services:

	paginatorFactory: blitzik\IPaginatorFactory

	latte.latteFactory:
		setup:
			- addFilter(null, [@pages.filterLoader, 'loader'])

	flashMessagesControl:
		implement: App\Components\IFlashMessagesControlFactory