<article class="page">
    <header>
        <h1>{if $page->isDraft()}[DRAFT] {/if}<a href="{plink :Pages:Front:Page:show internal_id => $page->id}">{$page->title}</a></h1>
        <ul class="page-info">
            <li><i class="fa fa-calendar-plus-o fa-fw"></i>
                {$page->publishedAt|dateWithMonthWord}</li>
            <li n:if="$commentsCount > 0"><i class="fa fa-comments-o fa-fw"></i>
                <a href="{plink :Pages:Front:Page:show internal_id => $page->id}#comments">Komentářů k článku: {$commentsCount}</a></li>
        </ul>

        {if count($page->tags) > 0}
            <ul class="tags">
            {foreach $page->tags as $tag}
                <li><a href="{plink :Pages:Front:Search:tag tags => $tag->getId()}" style="background-color: {$tag->color|noescape};">
                {*<i class="fa fa-tag fa-fw"></i>*}{$tag->name}</a></li>
            {/foreach}
            </ul>
        {/if}
    </header>

    <div n:tag-if="!$isOnlyIntroShown" class="page-intro">
        {$page->getIntroHtml()|noescape}
    </div>

    {if !$isOnlyIntroShown}
        {* body of page *}
        {if $page->getTextHtml() !== null}
            {$page->getTextHtml()|noescape}
        {else}
            {$page->text|pageTexy|noescape}
        {/if}
    {/if}

    {if $isOnlyIntroShown}
        <a href="{plink :Pages:Front:Page:show internal_id => $page->id}" class="read-more">Přejít na celý článek <i class="fa fa-angle-double-right"></i></a>
    {/if}

</article>