<article class="page">

    {*{translator page.header}*}
    <header>
        <h2>{if $page->isDraft()}[DRAFT] {/if}<a href="{plink :Pages:Front:Page:show internal_id => $page->getId(), locale => $page->getLocaleCode()}">{$page->getTitle()}</a></h2>
        <ul class="page-info">
            <li><span title="{$page->getPublishedAt()|dateWithMonthWord}"><i class="fa fa-calendar-plus-o fa-fw"></i>
                {$translate('page.header.textBeforePublishingTime')} {$page->getPublishedAt()|timeAgoInWords:$page->getLocaleCode()}</span></li>
            <li n:if="$commentsCount > 0"><i class="fa fa-comments-o fa-fw"></i>
                <a href="{plink :Pages:Front:Page:show internal_id => $page->getId(), locale => $page->getLocaleCode()}#comments">{$translate('page.header.comments', $commentsCount)}</a></li>
        </ul>

        {if count($page->getTags()) > 0}
            <ul class="tags">
            {foreach $page->getTags() as $tag}
                <li><a href="{plink :Pages:Front:Search:tag internal_id => $tag->getId(), locale => null}" style="background-color: {$tag->getColor()|noescape};">
                {*<i class="fa fa-tag fa-fw"></i>*}{$tag->getName()}</a></li>
            {/foreach}
            </ul>
        {/if}
    </header>
    {*{/translator}*}

    <div n:tag-if="!$isOnlyIntroShown" class="page-intro">
        {$page->getIntroHtml()|noescape}
    </div>

    {if !$isOnlyIntroShown}
        {* body of page *}
        {if $page->getTextHtml() !== null}
            {$page->getTextHtml()|noescape}
        {else}
            {$page->getText()|pageTexy|noescape}
        {/if}
    {/if}

    {if $isOnlyIntroShown}
        <a href="{plink :Pages:Front:Page:show internal_id => $page->getId(), locale => $page->getLocaleCode()}" class="read-more">{$translate('page.content.readMore')} <i class="fa fa-angle-double-right"></i></a>
    {/if}

</article>