<article class="page">
    <header>
        <h1><a href="{plink :Pages:Front:Page:show internal_id => $page->id}">{$page->title}</a></h1>
        <ul class="page-info">
            <li><i class="fa fa-calendar-plus-o fa-fw"></i>
                {$page->publishedAt|date:"j"}.{*day*}
                {$month|monthWord} {$page->publishedAt|date:" Y v H:i"}</li>
            {*<li><i class="fa fa-comments-o fa-fw"></i>
                <a href="#" title="Počet čtenářských komentářů k článku">Komentářu k článku: 5</a></li>*}
        </ul>

        {if count($page->tags) > 0}
            <ul class="tags">
            {foreach $page->tags as $tag}
                <li><a href="#" style="background-color: {$tag->color|noescape};">
                <i class="fa fa-tag fa-fw"></i>{$tag->name}</a></li>
            {/foreach}
            </ul>
        {/if}
    </header>

    <div n:tag-if="!$isOnlyIntroShown" class="page-intro">
        {$page->intro|pageTexy|noescape}
    </div>

    {if !$isOnlyIntroShown}
        {$page->text|pageTexy|noescape} {* body of page *}
    {/if}

    {if $isOnlyIntroShown}
        <a href="{plink :Pages:Front:Page:show internal_id => $page->id}" class="read-more">Přejít na celý článek <i class="fa fa-angle-double-right"></i></a>
    {/if}

</article>