
{control flashMessages}
{if !empty($comments)}
    <ol class="comments-list">
        {foreach $comments as $id => $comment}
            <li id="comment-{$id}">{control comment-$id}</li>
        {/foreach}
    </ol>
{else}
    <p n:if="$page->getAllowedComments() === true and $page->isDraft() === false">{_page.comments.messages.noComments}</p>
{/if}
