
{row}

{form pageForm}

{col article-form, id => top}
    {rowCol article-form-messages}
        {control flashMessages}
        {customFormErrors}
    {/rowCol}

    {*<div class="row">
        <div class="article-options">
            <input type="checkbox" id="texy-hint-checkbox" class="nav-control-hidden">
            <ul class="texy-hint-box">
                <li><a>Nadpisy</a>
                    <ul>
                        <li>
                            <pre>
Nadpis1   Nadpis2   Podnadpis
=======   *******   ---------<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Typografie</a>
                    <ul>
                        <li>
                            <pre>
**Tučně napsaný text**   *Text napsaný kurzívou*<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Odkazy</a>
                    <ul>
                        <li>
                            <pre>
"text odkazu":http://www.nejaky-web.cz<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Obrázky</a>
                    <ul>
                        <li>
                            <pre>
[* obrazek.jpg .(alt-text) *] - obrázek s laternativním textem<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg &lt;] - doleva zarovnaný obrázek<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg >] - doprava zarovnaný obrázek<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg *] *** text pod obrázkem<!--
                         --></pre>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="article-options-trigger">
            <label for="texy-hint-checkbox" class="article-texy-hint">NÁPOVĚDA</label>
        </div>
    </div>*}
{translator pageEditForm}
    <h2 n:ifset="$page"><a href="{plink :Pages:Front:Page:show internal_id => $page->getId()}">{$page->getTitle()}</a></h2>
    <div class="box box-river"> {* just div *}
        {rowCol 'form-group article-url'}
            {label url /} | <span>{_url.info}</span>
            <div class="input-group">
                <div class="input-group-addon">{$baseUrl} / </div>
                {input url class => 'form-control input-lg'}
            </div>
        {/rowCol}

        {row}
            {col 'form-group article-publish-time'}
                {label publishedAt /}
                {input publishedAt class => 'form-control input-lg'}
            {/col}

            {col 'form-group article-title'}
                {label title /}
                    <small>{_title.info, Pages\Page::LENGTH_TITLE}</small>
                    <span id="page-title-counter" data-text="{_title.charCounterText}" class="right"></span>
                {input title id => 'form-page-title', class => 'form-control input-lg'}
            {/col}
        {/row}

        {rowCol article-intro}
            <div class="form-group">
                {label intro /}
                    <small>{_intro.info, Pages\Page::LENGTH_INTRO}</small>
                    <span id="page-intro-counter" data-text="{_intro.charCounterText}" class="right"></span>
                {input intro id => 'form-page-intro', class => 'form-control input-lg page-textArea'}
            </div>
        {/rowCol}

        {rowCol article-text}
            <div class="form-group">
                {label text /}
                <span id="page-text-counter" data-text="{_text.charCounterText}" class="right"></span>
                {input text id => 'form-page-text', class => 'form-control input-lg page-textArea'}
            </div>
        {/rowCol}

        {rowCol article-description}
            <div class="form-group">
                {label description /}
                | <small>{_description.info}</small>
                {input description class => 'form-control input-lg'}
            </div>
        {/rowCol}

        {rowCol article-keywords}
            <div class="form-group">
                {label keywords /}
                | <small>{_keywords.info}</small>
                {input keywords class => 'form-control input-lg'}
            </div>
        {/rowCol}

        {row}
            {col article-lang}
                <div class="form-group">
                    {label lang /}
                    | <small>{_lang.info}</small>
                    {input lang class => 'form-control input-lg'}
                </div>
            {/col}

            {col article-comments}
                <div class="checkbox">
                    {input allowedComments}
                </div>
            {/col}
        {/row}

        {rowCol article-controls}
            {snippet messages-bottom}
                {control flashMessages}
                {customFormErrors}
            {/snippet}

            {if !isset($page) or $page->isDraft()}
                {input saveAsDraft class => 'btn btn-river'}
            {/if}

            {input saveAndPublish class => 'btn btn-turquoise'}

            <a href="#top" class="right">{_returnAtTop} <i class="fa fa-level-up"></i></a>
        {/rowCol}

    </div>
{/translator}
{/col} {* end article-form col *}

{translator pageEdit.section.tags}
{col tags-picking-box}
{*<a href="{plink :Tags:Tag:default}">{_actions.add}</a>*}
<h2>{_title}</h2>
    <div class="box box-alizarin">
        {*<div class="row">*}
            {*<div class="article-tags">*}
                {control pageTagsPicking}
            {*</div>*}
        {*</div>*}
    </div>
{/col}
{/translator}

{/form}

{/row}