{form pageForm}

<div class="article-form" id="top"> {* col *}
    <div class="row">
        <div class="article-form-messages">
        {control flashMessages}
        {customFormErrors}
        </div>
    </div>

    {*<div class="row">
        <div class="article-options">
            <input type="checkbox" id="texy-hint-checkbox" class="nav-control-hidden">
            <ul class="texy-hint-box">
                <li><a>Nadpisy</a>
                    <ul>
                        <li>
                            <pre>
Nadpis1   Nadpis2   Podnadpis
=======   *******   ---------<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Typografie</a>
                    <ul>
                        <li>
                            <pre>
**Tučně napsaný text**   *Text napsaný kurzívou*<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Odkazy</a>
                    <ul>
                        <li>
                            <pre>
"text odkazu":http://www.nejaky-web.cz<!--
                         --></pre>
                        </li>
                    </ul>
                </li>

                <li><a>Obrázky</a>
                    <ul>
                        <li>
                            <pre>
[* obrazek.jpg .(alt-text) *] - obrázek s laternativním textem<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg &lt;] - doleva zarovnaný obrázek<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg >] - doprava zarovnaný obrázek<!--
                         --></pre>
                        </li>
                        <li>
                            <pre>
[* obrazek.jpg *] *** text pod obrázkem<!--
                         --></pre>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="article-options-trigger">
            <label for="texy-hint-checkbox" class="article-texy-hint">NÁPOVĚDA</label>
        </div>
    </div>*}
{translator pageEditForm}
    <h2 n:ifset="$page">{$page->title}</h2>
    <div class="box box-river"> {* just div *}
        <div class="row">
            <div class="form-group article-url">
                {label url /} | <span>{_url.info}</span>
                <div class="input-group">
                    <div class="input-group-addon">{$baseUrl} / </div>
                    {input url class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group article-publish-time">
                {label publishedAt /}
                {input publishedAt class => 'form-control'}
            </div>

            <div class="form-group article-title">
                {label title /}
                    <small>{_title.info, Pages\Page::LENGTH_TITLE}</small>
                    <span id="page-title-counter" class="right"></span>
                {input title class => 'form-control'}
            </div>
        </div>

        <div class="row ">
            <div class="article-intro">
                <div class="form-group">
                    {label intro /}
                        <small>{_intro.info, Pages\Page::LENGTH_INTRO}</small>
                        <span id="page-intro-counter" class="right"></span>
                    {input intro class => 'form-control page-textArea'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="article-text">
                <div class="form-group">
                    {label text /}
                    {input text class => 'form-control page-textArea'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="article-comments">
                <div class="checkbox">
                    {input allowedComments}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="article-controls">
                {snippet messages-bottom}
                    {control flashMessages}
                    {customFormErrors}
                {/snippet}

                {input saveAndPublish class => 'btn btn-turquoise'}
                {input saveAsDraft class => 'btn btn-river'}

                <a href="#top" class="right">{_returnAtTop} <i class="fa fa-level-up"></i></a>
            </div>
        </div>
    </div>
{/translator}
</div> {* end article-form col *}

{translator pageEdit.section.tags}
<div class="tags-picking-box"> {* col *}
<a href="{plink :Tags:Tag:default}">{_actions.add}</a>
<h2>{_title}</h2>
    <div class="box box-turquoise">
        {*<div class="row">*}
            {*<div class="article-tags">*}
                {control pageTagsPicking}
            {*</div>*}
        {*</div>*}
    </div>
</div> {* end tags-picking-box *}
{/translator}

{/form}