logoTitle:
	mini: A
	large: Administrace

navigation:
	title: "Navigace"
	items:
		dashboard: Dashboard
		newPage: "Nový článek"
		pagesOverview: "Přehled článků"
		tags: Štítky
		images: Obrázky
		options: Nastavení
		signOut: "Odhlásit se"

localization:
	form:
		change:
			caption: změnit

signIn: "Přihlašte se prosím"