{block scripts}
    {include parent}
    <script src="{$basePath}/assets/js/comments.js"></script>
{/block}

{block content}

<div class="single-page">
    {control page}
</div>

<div class="comments">
    {control comments}
</div>

{/block}