
{block content}

<div class="single-page">
    {control page}
</div>

<div class="comments">
    <h2 id="comments"><i class="fa fa-comments-o"></i> Komentáře <span n:if="$page->allowedComments === true and $page->isDraft() === false" class="comment-form-link">| <a href="#new-comment-form">přidat komentář</a></span></h2>
    {control comments}
</div>

{/block}