{block content}

<section>
    <div class="row">
        <div class="col-xs-12">
            <h1 n:inner-block="title">Správa obrázků</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            {control imageUpload}
        </div>

        <div class="col-md-7">
            haha :-)
        </div>
    </div>

</section>

{/block}