{block title}Správa obrázků{/block}

{block content}

<div class="row">
    <div class="col-md-5">
        {control imageUpload}
    </div>
</div>

<div class="row images">
    <div class="col-xs-12">
        {control imagesOverview}
    </div>
</div>

{/block}