header:
	textBeforePublishingTime: "Posted"
	comments: "{1}one comment|[2,+Inf[%count% comments"

content:
	readMore: "Read more"

comments:
	topSectionHeader: "Comments"
	silencedComment: "silenced comment"
	addComment: "add a comment"

	actions:
		reply:
			label: "reply"

		silence:
			label: "silence comment"
			messages:
				success: "Content of comment has been successfully silenced"

		release:
			label: "release comment"
			messages:
				success: "Content of comment has been successfully released"

		remove:
			label: "remove"
			info: "Removes comment permanently"
			messages:
				error: "An error occurred while removing comment"

		messages:
			permission: "Ooops, can't help you to do that"

	messages:
		noComments: "No one has responded to this Article."
		pageDraft: "This is just preview. You cannot add any comment now."
		closedComments: "Comments are closed."
		silencedComment: "This comment has been silenced due to its inappropriate content."


	form:
		heading: "New comment"

		inputs:
			author:
				label: "Author"
				messages:
					required: "Please type your name"

			text:
				label: "Text"
				messages:
					required: "Please type the text of your comment"

			submit:
				caption: "Send comment"

		messages:
			success: "Your comment has been successfully saved"
			error: "An error occurred while saving your comment"
			closedComments: "Discussion is closed"

texyHelp:
	heading: "Texy syntax help"

	bold: "<b>bold type</b>   - **bold type**"
	italic: "<i>italic type</i> - *italic type*"
	link: "<a href=\"http://www.ab.cd\">link</a>        - \"link\":www.ab.cd"

	quotation: "quotation"
	quotationExample: "The text you want to cite"

	lists: "Lists"
	listAddition: "dash at the begining of each line"
	item: "list item"

	replies: "Replies"
	reply: "Type <b>@</b> (at sign) and order number of comment \r\nto which you are replying at te beginning of line"
	replyExample: "example: @5 your comment text"

	code: "Code syntax"
	codeLang: "language"
	codeContent: "your code"
	languages: "supported languages:"