{block scripts}
{include parent}
    <script src="{$basePath}/assets/js/tagsPicking.min.js"></script>
{/block}

{block content}

<section class="search">
    <h1>Vyhledávání podle štítku</h1>

    {if !empty($pages)}
    {var $pagesCount = count($pages)}
    <p>Počet nalezených článků: {$pagesCount}</p>

        {foreach $pages as $id => $page}
            {control page-$id}
        {/foreach}
    {else}
        <p>Nebyl nalezen žádný článek</p>
    {/if}

</section>

{/block}