{block scripts}
    {include parent}
    <script src="{$basePath}/assets/js/my_js/tag_management.js"></script>
{/block}


{block content}

{control tagCreationForm}

<div class="row">
    <div class="tags-overview"> {* col *}
        {control tagsOverview}
    </div>

</div>

{/block}