{*{block|strip}*}
<!DOCTYPE html>
<html>
<head>
	{control metas}

	{control pageTitle}

    <script>
      WebFontConfig = {
        google: { families: [ 'Poppins' ] },
        active: function() {
            document.cookie = 'wfont=1; expires=' + (new Date(new Date().getTime() + 86400000)).toGMTString() + ';path=/'
        }
      };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async defer></script>
    <link rel='prefetch' href='https://fonts.googleapis.com/css?family=Poppins'>
	<link rel="stylesheet" href="{$basePath}/assets/css/front.min.css">
</head>

<body>

<div class="container">
    <header>
        <h1><a href="{plink :Pages:Front:Page:default locale => null}">{$blogTitle}</a></h1>
        <p>{$blogSubtitle}</p>
    </header>

    {control flashMessages}

    {include content}

    <footer class="page-footer">
    	{$copyright|noescape}
    </footer>

</div>

{block scripts}
    {if $user->isLoggedIn()}
	<script src="{$basePath}/assets/js/js.min.js"></script>
	<!--[if lt IE 9]>
        <script src="{$basePath}/assets/js/shivAndRespond.min.js"></script>
    <![endif]-->
	{/if}
{/block}
</body>
</html>
{*{/block}*}
