{*{block|strip}*}
<!DOCTYPE html>
<html{ifset #lang} lang="{include #lang}"{/ifset}>
<head>
	{control metas}

	{control pageTitle}

	<link rel="stylesheet" href="{$basePath}/assets/css/front.min.css?v=3">
    <link rel="stylesheet" media="print" href="{$basePath}/assets/css/print.min.css?v=3">
</head>

<body>

<div class="container">
    <header>
        <h1><a href="{plink :Pages:Front:Page:default locale => null}">{$blogTitle}</a></h1>
        <p n:ifset="$blogSubtitle">{$blogSubtitle}</p>
    </header>

    {control flashMessages}

    {include content}

    <footer class="page-footer">
    	{$copyright|noescape}
    </footer>

</div>

{block scripts}
    {if $user->isLoggedIn()}
	<script src="{$basePath}/assets/js/js.min.js"></script>
	<!--[if lt IE 9]>
        <script src="{$basePath}/assets/js/shivAndRespond.min.js"></script>
    <![endif]-->
	{/if}
{/block}

<script n:if="!empty($googleAnalyticsMeasureCode)">
    (function(i,s,o,g,r,a,m){l}i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', {$googleAnalyticsMeasureCode}, 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
{*{/block}*}
