<section class="articles">

{if $articlesCount > 0}

    {foreach $articles as $article}

        {control article-$article->id}

        {*<div class="delimiter" n:if="!$iterator->isLast()"></div>*}
    {/foreach}

    {control vs}

{else}
    <div class="col-md-12">
        <p>Nebyly nalezeny žádné příspěvky.</p>
    </div>
{/if}

</section>