logoTitle:
	mini: A
	large: Administration

navigation:
	title: Navigation
	items:
		dashboard: Dashboard
		newPage: "New Article"
		pagesOverview: "Articles overview"
		tags: Tags
		images: Images
		options: Options
		signOut: Sign Out