logoTitle:
	mini: A
	large: Administration

navigation:
	title: Navigation
	items:
		dashboard: Dashboard
		newPage: "New Article"
		pagesOverview: "Articles overview"
		tags: Tags
		images: Images
		options: Options
		overview: Users
		permissions: "Users permissions"
		signOut: "Sign Out"

localization:
	form:
		change:
			caption: Change

signIn: "Sign In please"