inAMinute: "in a minute"
inMinutes: "{1}in one minute|[2,+Inf[in %count% minutes"
inHours: "{1}in an hour|[2,+Inf[in %count% hours"
tomorrow: "tomorrow"
inDays: "{1}in one day|[2,+Inf[in %count% days"
inMonths: "{1}in a month|[2,+Inf[in %count% months"
inYears: "{1}in a year|[2,+Inf[in %count% years"

aMinuteAgo: "a second ago"
minutesAgo: "{1}a minute ago|[2,+Inf[%count% minutes ago"
hoursAgo: "{1}an hour ago|[2,+Inf[%count% hours ago"
yesterday: "yesterday"
daysAgo: "{1}a day ago|[2,+Inf[%count% days ago"
monthsAgo: "{1}a month ago|[2,+Inf[%count% months ago"
yearsAgo: "{1}a year ago|[2,+Inf[%count% years ago"