inAMinute: "za okamžik"
inMinutes: "{1}za minutu|[2,4]za %count% minuty|[5,+Inf[za %count% minut"
inHours: "{1}za hodinu|[2,4]za %count% hodiny|[5,+Inf[za %count% hodin"
tomorrow: "zítra"
inDays: "{1}za den|[2,4]za %count% dny|[5,+Inf[za %count% dní"
inMonths: "{1}za měsíc|[2,4]za %count% měsíce|[5,+Inf[za %count% měsíců"
inYears: "{1}za rok|[2,4]za %count% roky|[5,+Inf[za %count% let"

aMinuteAgo: "před okamžikem"
minutesAgo: "{1}před minutou|[2,+Inf[před %count% minutami"
hoursAgo: "{1}před hodinou|[2,+Inf[před %count% hodinami"
yesterday: "včera"
daysAgo: "{1}včera|[2,+Inf[před %count% dny"
monthsAgo: "{1}před měsícem|[2,+Inf[před %count% měsíci"
yearsAgo: "{1}před rokem|[2,+Inf[před %count% lety"