<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{control pageTitle}

	{block styles}
		<link rel="stylesheet" href="{$basePath}/assets/css/admin.min.css?v=016">
	{/block}
</head>
<body>
<div class="page-wrapper">

    <input type="radio" name="nav" id="nav-expand" class="nav-control-hidden">
    <label for="nav-expand" id="navigation">MENU</label>
    <aside class="main-sidebar">
        <div class="main-header">
            <h1>
                <a n:href=":Dashboard:Dashboard:default">
                    <span class="logo-mini">{_admin.logoTitle.mini}</span>
                    <span class="logo-large">{_admin.logoTitle.large}</span>
                </a>
            </h1>
        </div>

        {translator admin.navigation}
        <nav class="navigation">
        	<ul>
        	    <li class="nav-heading"><span>{_title}</span></li>
        	    <li><a n:href=":Dashboard:Dashboard:default" n:class="$this->presenter->isLinkCurrent(':Dashboard:Dashboard:default') ? active"><i class="fa fa-dashboard fa-fw"></i> <span>{_items.dashboard}</span></a></li>
        	    <li><a n:href=":Pages:Admin:Page:new" n:class="$this->presenter->isLinkCurrent(':Pages:Admin:Page:new') ? active"><i class="fa fa-pencil fa-fw"></i> <span>{_items.newPage}</span></a></li>
        	    <li><a n:href=":Pages:Admin:Page:overview" n:class="$this->presenter->isLinkCurrent(':Pages:Admin:Page:overview') ? active"><i class="fa fa-list fa-fw"></i> <span>{_items.pagesOverview}</span></a></li>
        	    <li><a n:href=":Tags:Tag:default" n:class="$this->presenter->isLinkCurrent(':Tags:Tag:default') ? active"><i class="fa fa-tags fa-fw"></i> <span>{_items.tags}</span></a></li>
        	    <li><a n:href=":Images:Image:default" n:class="$this->presenter->isLinkCurrent(':Images:Image:default') ? active"><i class="fa fa-image fa-fw"></i> <span>{_items.images}</span></a></li>
        	    <li><a n:href=":Options:Options:default" n:class="$this->presenter->isLinkCurrent(':Options:Options:default') ? active"><i class="fa fa-cog fa-fw"></i> <span>{_items.options}</span></a></li>
        	    {*<li><a n:href=":Users:Auth:logout" n:class="$this->presenter->isLinkCurrent(':Users:Auth:logout') ? active"><i class="fa fa-sign-out fa-fw"></i><span> {_items.signOut}</span></a></li>*}
        	</ul>
        </nav>
        {/translator}
    </aside>

    <div class="content-wrapper">
        <div class="top-header-bar">
            <div class="header-bar-actions">
                <a n:href=":Users:Auth:logout" class="logout"><i class="fa fa-sign-out fa-fw"></i><span> {_admin.navigation.items.signOut}</span></a>
            </div>

            <div class="user">
                <i class="fa fa-user"></i>{$userEntity->username}
                <span class="languages">CZ | EN</span>
            </div>
        </div>

	    <div class="content"> {* container *}
	        <div class="page-heading"> {* row *}
	            <div class="heading"> {* col *}
                    <h2>{control pageTitle, false}</h2>
                </div>
            </div>
	        {control flashMessages}
		    {include #content}
	    </div>
    </div>

    <label for="nav-collapse" class="overlay"></label>
    <label for="nav-collapse" class="close-menu">ŽAVŘÍT MENU</label>
    <input type="radio" name="nav" id="nav-collapse" checked class="nav-control-hidden">

</div>

{block scripts}
	<script src="{$basePath}/assets/js/js.min.js"></script>
{/block}
</body>
</html>
