{if !empty($flashes)}
	{rowCol flash-messages}
	        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{include #flashMessageIcon, type => $flash->type} {_$flash->message}</div>
	{/rowCol}
{/if}

{define flashMessageIcon}
	<i class="fa {if $type === 'success'}
		fa-check
	{elseif $type === 'warning'}
		fa-warning
	{elseif $type === 'error'}
		fa-times
	{/if} fa-fw"></i>
{/define}