login:
	title: "Administrace"
	form:
		email:
			label: "E-mailová adresa"
			placeholder: "E-mailová adresa"
			title: "Vaše E-mailová adresa"
			messages:
				required: "Vyplňte E-mailovou adresu"
				wrongFormat: "E-mailová adresa má špatný formát"

		password:
			label: Heslo
			placeholder: Heslo
			title: "Vaše heslo"
			messages:
				required: "Vyplňte přístupové heslo"

		login:
			caption: "Přihlásit"



overview:
	title: "Přehled uživatelů"
	you: "Vy"
	rowTitle:
		name: Jméno
		roles: Role
		actions: Akce

	actions:
		edit: editovat
		remove: odstranit


user:
	detail:
		title: "Detail uživatele"

	form:
		username:
			label: "Uživatelské jméno (*)"
			messages:
				required: "Vyplňte prosím uživatelské jméno"

		email:
			label: "E-mail (*)"
			messages:
				required: "Vyplňte prosím E-mailovou adresu"

		first_name:
			label: "Jméno"

		last_name:
			label: "Příjmení"

		role:
			label: "Role (*)"

		save:
			caption: "Uložit"

		messages:
			success: "Uživatel byl úspěšně uložen"
			usernameExists: "Uživatelské jméno \"%username%\" již někdo používá"
			emailExists: "E-mail %email% již někdo používá"
			missingRole: "Vybraná role chybí. Vyberte prosím roli znovu."



userRemoval:
	title: "Odstranění uživatele"
	warning: "Uživatel <strong>\"%username%\"</strong> bude <strong>NENÁVRATNĚ</strong> odstraněn"
	actions:
		remove: "odstranit"
		cancel: "zpět"

	messages:
		success: "Účet uživatele \"%username%\" byl odstraněn"
		cantBeRemoved: "Účet uživatele \"%username%\" nelze odstranit. Na tomto účtu závisí další data."
		removeYourself: "Nelze odstranit sám sebe"


roles:
	title: "Uživatelské role"
	rowTitle:
		name: Název
		parent: "Dědí od"
		actions: Akce

	actions:
		add: "+ přidat novou roli"
		edit: "editovat"
		remove: "odstranit"



newRole:
	title: "Nová uživatelská role"
	form:
		name:
			label: "Název"
			messages:
				required: "Vyplňte název Role"

		parent:
			label: "Předek"
			prompt: "vyberte předka"

		save:
			caption: "Uložit"

		messages:
			success: "Role \"%roleName%\" byla úspěšně vytvořena"
			roleAlreadyExists: "Role \"%roleName%\" již existuje"
			missingRole: "Nelze přiřadit roli \"%roleName%\" jako rodiče. Vyberte jinou roli."




roleDefinition:
	title: "[%roleName%] práva"
	rowTitle:
		privilege: Právo
		state: Stav
		currentState: "Aktuální stav"

	messages:
		success: "Nastavení práv bylo úspěšně uloženo"
		error: "Při ukládání došlo k chybě"



roleRemoval:
	title: "Odstranění role"
	warning: "Role <strong>%roleName%</strong> bude <strong>NENÁVRATNĚ</strong> odstraněna"
	actions:
		remove: "odstranit"
		cancel: "zpět"

	messages:
		success: "Role \"%roleName%\" byla úspěšně odstraněna"
		roleInUse: "Roli \"%roleName%\" nelze odstranit. Je stále využívána."



messages:
	userNotFound: "Požadovaný uživatel neexistuje"
	roleNotFound: "Požadovaná role nebyla nalezena"