{control flashMessages}

{form imageUpload}
    {customFormErrors}

    <div class="form-group">
        {label image /}
        {input image class => 'form-control image-upload-input'}
    </div>
    {input upload class => 'btn btn-default'}
{/form}