
{form removalForm}
    <div class="article-removal-title">Titulek článku</div>
    <div class="article-removal-box">{$article->title}</div>

    {control flashMessages}
    {customFormErrors}
    <div class="form-group">
        {label check /}
        {input check class => form-control}
    </div>

    <div class="form-group">
        {input remove class => 'btn btn-danger'}
        {input cancel class => 'btn btn-default'}
    </div>


{/form}