
%col-md-12{
  @include make-md-column(12);
}

.col-md-12{
  @extend %col-md-12;
}

.error-page{
  margin-top: 100px;
}

a{
  text-decoration: underline;
}

body{
  font-size: 225%;
  background-image: url('../images/front_bg.jpg');
}

h1, h2, h3, h4, h5{
  font-weight: bold;
}

.header a{
  text-decoration: none;
}

.page{
  @extend %container-fixed;

  margin-top: 35px;
  line-height: 1.75;
}

.page-footer{
  border-top: 1px solid #ccc;
  margin-top: 150px;
  padding-top: 10px;
  margin-bottom: 100px;
  clear: both;
}

.articles{
  @extend %make-row;
}

.article{
  @extend %col-md-12;

  letter-spacing: 1px;

  margin-bottom: 90px;

  h2, h3, h4, h5{
    margin-top: 65px;
    margin-bottom: 20px;
  }

  h2{
    color: #D35400;
  }

  p{
    margin: 30px 0;

    &:first-letter {
      margin-left: 25px;
    }
  }

  ul{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  header{
    font-size: 85%;
    margin-bottom: 25px;

    .article-info{
      overflow: auto;
      margin: 0;
      padding-left:  0;
      list-style-type: none;
      border-bottom: 1px solid #ccc;

      li{
        float: left;
        margin-right: 15px;
      }
    }
  }

  h1 a{
    text-decoration: none;
    font-family: "Times New Roman", Georgia, serif;
    font-size: 150%;
    color: #c0392b;

    &:hover {
      text-decoration: underline;
      color: #c0392b;
    }
  }

  .article-intro{
    padding: 35px;
    color: #767261;
    border-bottom: 1px solid #ccc;

    @include border-radius(15px);
  }

  .read-more{
    font-size: 80%;
    float: right;
    margin-top: 50px;
    padding: 12px 18px;

    @include border-radius(10px);


  }

  .tags{
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    overflow: auto;

    li{
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;

      a{
        display: block;
        padding: 3px 12px;
        font-size: 75%;
        color: #fff;
        text-decoration: none;

        @include border-radius(7px);

        &:hover{
          text-decoration: underline;
        }

        i{
          margin-right: 8px;
        }
      }
    }
  }

}

.single-article{
  @extend %make-row;
}

.delimiter{
  width: 69px;
  height: 11px;
  background-image: url('../images/delimiter.png');
  background-repeat: no-repeat;
  clear: both;
  margin: 0 auto;
  padding-bottom: 80px;
}

.blitzik__paginator{
  @extend .blitzik__paginator;
  @extend %col-md-12;

  .blitzik__btn{
    background-color: transparent;
    color: #2980B9;

    &.older{
      font-size: 150%;
      float: right;
    }
  }
}
