
.row{
  @include row();
}

// ---------------



.error-page{
  margin-top: 100px;
}

a{
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

.wf-active p{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

body{
  background-image: url('../images/front_bg.jpg');
  padding: 0 20px 150px 20px;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}


/* STRUCTURE */

.container{
  max-width: 960px;
  margin: 0 auto;
  //border: 1px solid red;
}

header{
  h1{
    font-size: 125%;

    a{
      color: $text-color;
    }
  }

  p{
    margin-top: 0;
    font-size: 66%;
  }
}

.pages-overview{

}

.page{
  padding-bottom: 20px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  overflow: auto;

  h1, h2, h3, h4, h5, h6{
    margin-top: 50px;
  }

  h1{
    font-size: 175%;

    a{
      text-transform: uppercase;
      font-weight: bolder;
      color: #C03555;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .page-info,
  .tags {
    margin: 0;
    padding: 0;
    overflow: auto;

    li{
      list-style: none;
      float: left;
      margin-right: 15px;
      margin-bottom: 5px;
    }
  }

  .page-info{
    border-bottom: 1px solid #ccc;

    a{
      text-decoration: none;

      &:hover{ text-decoration: underline }
    }
  }

  .tags li{
    margin-right: 5px;

    a{
      font-size: 66%;
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;

      &:hover{ text-decoration: underline; }

      @include border-radius(5px);

      i{
        margin-right: 5px;
      }
    }
  }

  p{
    margin: 35px 0;
    line-height: $line-height-base;

    &:first-letter{
      margin-left: 20px;
    }
  }
}

.read-more{
  display: block;
  margin-top: 50px;
  float: right;
}


// comments

.comments{
  margin-top: 100px;
}

.comments-form{
}

.comment-author-input,
.comment-text-input,
.comment-submit{
  //@include column(12);
}




.blitzik__paginator{
  margin-top: 175px;
  overflow: auto;

  .older{
    font-size: 166%;
    float: right;
  }
}

.blitzik__btn{

}



.page-footer{
  font-size: 75%;
  padding: 10px 0;
  margin-top: 75px;
  border-top: 1px solid #ccc;
  clear: both;
}

img{
  margin: 15px 15px 0 15px;
}