//////////// GRID ///////////

%container{
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

%row{
  @include row();
}

%col-12{
  @include column(12);
}

// -------

.container{
  @extend %container;
}

.row{
  @extend %row;
}

//////////// STRUCTURE ////////////

body{
  background-color: #222D32;
}

.page-wrapper{
  width: 100%;
}


$main-sidebar-width: 250px;
.main-sidebar{
  width: $main-sidebar-width;
  //border: 1px solid #fff;
  float: left;
}

$main-header-background-color: #d43f3a;
.main-header{
  height: 50px;
  background-color: $main-header-background-color;

  h1{
    width: $main-sidebar-width;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  h1 a{
    color: #fff;
    display: block;
    text-decoration: none;

    &:hover{
      background-color: darken($main-header-background-color, 10%);
    }
  }
}

.content-wrapper{
  background-color: #ecf0f5;
  margin-left: $main-sidebar-width;
}

.content{
  @extend %container;
  overflow: auto;
}

//////////// STYLES ////////////

.navigation{
  ul{
    padding: 0;
    margin: 0;

    li{
      list-style: none;

      &.nav-heading{
        color: #4b646f;
        background-color: #1a2226;
        text-transform: uppercase;
        padding: 10px 15px;
      }

      a{
        display: block;
        font-size: 1em;
        color: #b8c7ce;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        padding: 10px 15px;

        i{ margin-right: 10px; }

        &:hover{
          text-decoration: none;
          color: #fff;
          background-color: #1e282c;
          border-left: 5px solid #3c8dbc;
          border-right: 5px solid #3c8dbc;
        }

        &.active{
          color: #fff;
          background-color: #1e282c;
          border-left: 5px solid #3c8dbc;
          border-right: 5px solid #3c8dbc;
        }
      }
    }
  }
}


h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

.page-heading{
  height: 50px;
  //background-color: #3c8dbc;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  margin-bottom: 30px;

  h1{
    font-size: 2.5em;
    //color: #fff;
    line-height: 50px;
    //font-weight: bolder;
    //text-transform: uppercase;
  }
}


.table-wrapper{
  background-color: #fff;
  border-top: 3px solid #D2D6DE;
  border-bottom: 1px solid #D2D6DE;
  padding: 0 15px 15px 15px;
  margin-bottom: 50px;
}

.table-content{
  margin-top: 15px;
}

.articles-overview{
  @extend %col-12;
}

.box-title{
  font-size: 1.5em;
  border-bottom: 1px solid #D2D6DE;
  padding: 15px 0 15px 0;
  margin: 0;

  i{
    margin-right: 10px;
  }
}