services:

	# commands
	newUrlCommand:
		class: Url\Commands\NewUrlCommand
		tags: [kdyby.console.command]

	# subscribers
	urlSubscriber:
		class: Url\Subscribers\UrlSubscriber
		tags: [kdyby.subscriber]

	router: Url\Router
	requestPanel: Url\RequestPanel

	urlLinker: Url\Services\UrlLinker

	urlFacade: Url\Facades\UrlFacade