services:

	blogTexy: Pages\Utils\BlogTexy
	filterLoader: Pages\Filters\FilterLoader

	pagePersister: Pages\Services\PagePersister
	pageRemover: Pages\Services\PageRemover

	# Facades
	pageFacade: Pages\Facades\PageFacade

	# Factories
	pageControlFactory:
		implement: Pages\Components\Front\IPageControlFactory
		arguments: [Nette\Utils\ArrayHash page]

	pagesOverviewControlFactory:
		implement: Pages\Components\Front\IPagesOverviewControlFactory

	pageFormControl:
		implement: Pages\Components\Admin\IPageFormControlFactory
		arguments: [Users\User user]

	pageTagsPickingControlFactory:
		implement: Pages\Components\Admin\IPageTagsPickingControlFactory
		arguments: [page]

	pageRemovalControlFactory:
		implement: Pages\Components\Admin\IPageRemovalControlFactory
		arguments: [Pages\Page page]

	pagesAdminOverviewControlFactory:
		implement: Pages\Components\Admin\IPagesOverviewControlFactory
		arguments: [Pages\Query\ArticleQuery pageQuery]