services:

	blogTexy: Pages\Utils\BlogTexy
	filterLoader: Pages\Filters\FilterLoader

	# Facades
	pageFacade: Pages\Facades\PageFacade

	# Factories
	articleControlFactory:
		implement: Pages\Components\IArticleControlFactory
		arguments: [Nette\Utils\ArrayHash article]

	articlesOverviewControlFactory:
		implement: Pages\Components\IArticlesOverviewControlFactory

	articleFormControl:
		implement: Pages\Components\IArticleFormControlFactory
		arguments: [Users\User user]

	articleTagsPickingControlFactory:
		implement: Pages\Components\IArticleTagsPickingControlFactory
		arguments: [article]

	articleRemovalControlFactory:
		implement: Pages\Components\IArticleRemovalControlFactory
		arguments: [Pages\Article article]