services:

	texyFactory: Pages\Utils\TexyFactory

	filterLoader: Pages\Filters\FilterLoader

	commentPersister: Pages\Services\CommentPersister
	commentRemover: Pages\Services\CommentRemover
	pagePersister: Pages\Services\PagePersister
	pageRemover: Pages\Services\PageRemover

	tagFormFactory: Pages\Factories\TagFormFactory

	# LOG subscribers
	log_pageSubscriber:
		class: Pages\Log\Subscribers\PageSubscriber
		tags: [kdyby.subscriber]

	log_pageCommentSubscriber:
		class: Pages\Log\Subscribers\PageCommentSubscriber
		tags: [kdyby.subscriber]

	log_pageTagSubscriber:
		class: Pages\Log\Subscribers\PageTagSubscriber
		tags: [kdyby.subscriber]

	# Facades
	pageFacade: Pages\Facades\PageFacade
	tagFacade: Tags\Facades\TagFacade
	commentFacade: Comments\Facades\CommentFacade

	# components factories
	admin_tagsOverviewControlFactory:
		implement: Tags\Components\Admin\ITagsOverviewControlFactory

	pagesSearchControl:
		implement: Pages\Components\Front\IPagesSearchControlFactory
		parameters: [array tags]
		arguments: [%tags%]

	tagControlFactory:
		implement: Tags\Components\Admin\ITagControlFactory
		arguments: [Tags\Tag tag]

	pageControlFactory:
		implement: Pages\Components\Front\IPageControlFactory
		parameters: [Pages\Page page]
		arguments: [%page%]

	pagesOverviewControlFactory:
		implement: Pages\Components\Front\IPagesOverviewControlFactory

	pageFormControl:
		implement: Pages\Components\Admin\IPageFormControlFactory
		arguments: [Users\User user]

	pageTagsPickingControlFactory:
		implement: Pages\Components\Admin\IPageTagsPickingControlFactory
		arguments: [page]

	pageRemovalControlFactory:
		implement: Pages\Components\Admin\IPageRemovalControlFactory
		arguments: [Pages\Page page]

	pagesAdminOverviewControlFactory:
		implement: Pages\Components\Admin\IPagesOverviewControlFactory
		arguments: [Pages\Query\ArticleQuery pageQuery]

	commentsControlFactory:
		implement: Comments\Components\ICommentsControlFactory
		parameters: [Pages\Page page]
		arguments: [%page%]

	commentsOverviewControlFactory:
		implement: Comments\Components\Front\ICommentsOverviewControlFactory
		parameters: [Pages\Page page]
		arguments: [%page%]

	commentControlFactory:
		implement: Comments\Components\Front\ICommentControlFactory
		parameters: [Comments\Comment comment]
		arguments: [%comment%]