title:
	label: "Titulek článku (*)"
	info: "[max. %count% znaků]"
	messages:
		required: "Vyplňte prosím titulek článku"
		maxLength: "Titulek může mít maximálně %numChars% znaků"

publishedAt:
	label: "Datum publikace (*)"
	messages:
		required: "Nastavte prosím datum publikace"
		maxLength: "Datum publikace může mít max. %numChars% znaků"
		emptyOnPublishing: "Před publikací článku musí být nastaveno datum publikace"

intro:
	label: "Úvod článku (*)"
	info: "[max. %count% znaků] (Bude zobrazen ve výpisu článků)"
	messages:
		required: "Vyplňte úvod článku"
		maxLength: "maximální délka úvodu článku je %numChars% znaků"

text:
	label: "Text článku"
	messages:
		required: "Vyplňte text článku"

url:
	label: "Url adresa"
	info: "Pokud nevyplníte URL adresu, bude vytvořena z titulku článku"

keywords:
	label: "Klíčová slova"
	info: "informace pro meta tag"

description:
	label: "Popis stránky"
	info: "informace pro meta tag"

allowedComments:
	label: "Povolit komentáře k článku"

saveAndPublish:
	caption: "Uložit a publikovat"
	title: "Uloží článek a zobrazí ho veřejně"

saveAsDraft:
	caption: "Uložit jako pracovní verzi"
	title: "Uloží článek jako pracovní verzi. Článek se nezobrazí veřejně"

returnAtTop: "Vrátit se na začátek formuláře"

# flash messages

messages:
	successPublish: "Článek byl úspěšně uložen a zobrazen veřejně"
	successDraft: "Článek byl úspěšně uložen jako pracovní verze"
	missingPublicationTime: "Nastavte prosím datum publikace"
	publishedPageInvalidPublicationTime: "U publikovaného článku lze nastavit čas publikace pouze do současnosti"
	titleExists: "Článek s tímto titulkem již existuje. Změňte prosím titulek článku."
	urlExists: "Tato URL adresa již existuje. Změňte prosím URL adresu."
	pageIntroHtmlLength: "Výsledné HTML úvodu článku je příliš dlouhé. Zkraťte prosím úvod článku."
	savingError: "Nastala chyba při ukládání. Zkuste to prosím později."