title:
	new: "Nový článek"
	edit: "Úprava článku"

section:
	tags:
		title: Štítky
		actions:
			add: "+ přidat Štítek"
		messages:
			noTags: "Nebyly nalezeny žádné štítky."
			createNewTag_q: "Přejete si nějaké vytvořit?"