pageTitle: "Přehled článků"

noArticlesFound: "Žádné články k zobrazení"

tableTitle:
	draft: "Pracovní verze článků"
	waiting: "Články čekající na zveřejnění"
	published: "Publikované články"

rowTitle:
	created: vytvořen
	published: publikován
	article: článek
	action: akce

actions:
	edit: upravit
	remove: odstranit