title: "Odstranění článku"

warning: "{0}Článek bude <strong>nenávratně odstraněn</strong>|{1}Článek bude <strong>nenávratně odstraněn</strong> včetně %count% komentáře od Vašeho čtenáře|[2,+Inf[Článek bude <strong>nenávratně odstraněn</strong> včetně %count% komentářů od Vašich čtenářů"

check:
	label: "Pro smazání opište titulek článku"
	messages:
		required: "Opište titulek článku do kontrolního pole"
		notEqual: "Titulek článku neodpovídá titulku v kontrolním poli"

remove:
	caption: "Nenávratně odstranit článek"

cancel:
	caption: zpět

# flash messages

flashMessages:
	success: "Článek %name% byl úspěšně odstraněn"
	savingError: "Při odstraňování článku nastala chyba. Zkuste to prosím později."