title: "Správa štítků"

newTagFormTitle: "Nový štítek"

tagForm:
	name:
		label: "Název tagu"
		messages:
			required: "Vyplňte název tagu"

	color:
		label: Barva
		messages:
			required: "Vyplňte barvu nového štítku"
			wrongPattern: "Špatný formát barvy nového štítku. Použijte HEX zápis."

	save:
		caption: "Uložit"

	messages:
		success: "Štítek s názvem %name% byl úspěšně uložen"
		nameExists: "Štítek s názvem %name% již existuje"
		tagUrlExists: "Url adresa pro vyhledávání dle Tagu nemohla být vytvořena. Změňte název Tagu."
		savingError: "Při ukládání štítku došlo k chybě. Zkuste akci opakovat později."

filter:
	heading: "Vyhledávání"
	form:
		name:
			label: "Název tagu"

		filter:
			label: "filtrovat"

		reset:
			label: "reset"

overview:
	noTagsFound: "Nebyli nalezeny žádné štítky"
	nonExistentTag: "Štítek, který se pokoušíte upravit, neexistuje"

	actions:
		remove:
			label: "Odstranit"
			title: "Nenávratně odstraní štítek"
			messages:
				removeError: "Při odstraňování štítku došlo k chybě"

		returnColor:
			title: "Vrátí původní barvu štítku"