
{control flashMessages}
<div class="box box-river">

{form newRoleForm}
{row}
    {col user-form-role-name}
        {label name /}
        {input name class => 'form-control'}
    {/col}

    {col user-form-role-parent}
        {label parent /}
        {input parent class => 'form-control'}
    {/col}

    {col user-form-role-submit}
        <div>&nbsp;</div>
        {input save class => 'btn btn-river'}
    {/col}
{/row}
{/form}

</div>