services:

	imagesUploader: Images\Services\ImagesUploader
	imagesRemover: Images\Services\ImagesRemover

	# Facades
	imageFacade: Images\Facades\ImageFacade

	# Factories
	imageUploadControlFactory:
		implement: Images\Components\IImageUploadControlFactory

	imagesFilter:
		implement: Images\Components\IImagesFilterControlFactory

	imagesOverviewControlFactory:
		implement: Images\Components\IImagesOverviewControlFactory
		parameters: [Images\Query\ImageQuery imageQuery]
		arguments: [%imageQuery%]