services:

	# Facades
	imageFacade: Images\Facades\ImageFacade

	# Factories
	imageUploadControlFactory:
		implement: Images\Components\IImageUploadControlFactory

	imagesOverviewControlFactory:
		implement: Images\Components\IImagesOverviewControlFactory