services:

	# commands
	defaultDataCommand:
		class: Url\Commands\DefaultDataCommand
		tags: [kdyby.console.command]

	router: Url\Router
	requestPanel: Url\RequestPanel

	urlLinker: Url\Services\UrlLinker

	urlFacade: Url\Facades\UrlFacade