@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-corners($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin tags-definition {
  .tags{
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    overflow: auto;

    li{
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;

      a{
        display: block;
        padding: 3px 12px;
        font-size: 75%;
        color: #fff;

        @include border-radius(7px);

        &:hover{
          text-decoration: none;
        }

        i{
          margin-right: 8px;
        }
      }
    }
  }
}

.right{
  float: right;
}