.blitzik__paginator{
  margin: 0;
  margin-bottom: 10px;
}

.blitzik__btn,
.blitzik__counter{
  color: #FFF;
  background-color: #34495E;
  border-color: #34495E;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.blitzik__btn{
  &:active{
    color: #fff;
  }

  &:hover{
    color: #FFF;
    background-color: darken(#34495E, 10%);
    border-color: darken(#34495E, 10%);
    text-decoration: none;
  }
}

$counter-color: #D0D0D0;
.blitzik__counter{
  background-color: $counter-color;
  color: darken($counter-color, 50%);
}

$btn-inactive-color: #858585;
.blitzik__inactive{
  background-color: $btn-inactive-color;
  &:hover{ background-color: $btn-inactive-color;}
}