@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-corners($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}


@mixin row($gutter: $grid-gutter-width) {
  margin-left: ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  clear: both;
}


@mixin column($columns, $gutter: $grid-gutter-width) {
  width: percentage(($columns / $grid-columns));
  position: relative;
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  float: left;
}

@mixin column-push($columns) {
  left: percentage($columns / $grid-columns);
}

#ajax-spinner{
  display: block;
  padding: 13px;
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  background-color: black;
  opacity: .5;
  font-size: 0;
  z-index: 123456;
  position: fixed;
  top: 50%;
  left: 50%;
}


.clearfix{
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.flash-messages{
  @include column(12);
}

.flash{
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 5px;

  i{
    margin-right: 10px;
  }

  &.success{
    background-color: #00a65a ;
    border: 1px solid #00a65a ;
  }

  &.warning{
    background-color: #f39c12;
    border: 1px solid #f39c12;
  }

  &.error{
    background-color: #dd4b39 ;
    border: 1px solid #dd4b39 ;
  }
}

.form-errors{
  padding: 0;
  margin: 0;
  margin-bottom: 15px;

  li{
    list-style: none;

    i{
      margin-right: 10px;
    }
  }
}

.form-error{
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 5px;
  background-color: #f39c12;
  border: 1px solid #f39c12;
}

.form-errors-col{
  @include column(12);
}

.left{ float: left; }
.right{ float: right; }


.w25{ width: 25px; }
.w50{ width: 50px; }
.w100{ width: 100px; }
.w150{ width: 150px; }
.w200{ width: 200px; }
.w250{ width: 250px; }
.w300{ width: 300px; }


// ------------


.tags-list{
  margin: 0;
  margin-top: 5px;
  padding: 0;

  li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.tag{
  padding: 10px 10px;
  color: #fff;

  i{
    vertical-align: middle;
  }

  .tag-checkbox{
    vertical-align: middle;
    margin-bottom: 5px;
  }
}