services:

	optionsPersister: Options\Services\OptionsPersister

	optionFacade: Options\Facades\OptionFacade

	# Presenters
	admin_optionsPresenter: Options\Presenters\OptionsPresenter


	# LOG subscribers
	optionsSubscriber:
		class: Options\Log\Subscribers\OptionsSubscriber
		tags: [kdyby.subscriber]

	# components factories
	optionsFormControlFactory:
		implement: Options\Components\Admin\IOptionsFormControlFactory