services:

	authPresenter: Users\FrontModule\Presenters\AuthPresenter

	authorizator: Users\Authorization\Authorizator

	log_userSubscriber:
		class: Users\Log\Subscribers\UserSubscriber
		tags: [kdyby.subscriber]

	# commands
	defaultDataCommand:
		class: Users\Commands\DefaultDataCommand
		tags: [kdyby.console.command]

	newUserCommand:
		class: Users\Commands\NewUserCommand
		tags: [kdyby.console.command]

	userAuthenticator: Users\Authentication\UserAuthenticator