services:

	# Presenters

	authPresenter: Users\FrontModule\Presenters\AuthPresenter

	userAuthenticator: Users\Authentication\UserAuthenticator
	authorizator: Users\Authorization\Authorizator

	log_userSubscriber:
		class: Users\Log\Subscribers\UserSubscriber
		tags: [kdyby.subscriber]



	# commands

	defaultDataCommand:
		class: Users\Commands\DefaultDataCommand
		tags: [kdyby.console.command]

	newUserCommand:
		class: Users\Commands\NewUserCommand
		tags: [kdyby.console.command]



	# Facades
	userFacade: Users\Facades\UserFacade


	# Services
	rolePermissionsPersister: Users\Services\RolePermissionsPersister


	# Component factories

	usersOverviewControLFactory:
		implement: Users\Components\Admin\IUsersOverviewControlFactory
		parameters: [Users\Query\UserQuery userQuery]
		arguments: [%userQuery%]

	usersRolesOverviewControlFactory:
		implement: Users\Components\Admin\IUsersRolesOverviewControlFactory
		parameters: [Users\Query\RoleQuery roleQuery]
		arguments: [%roleQuery%]

	roleDefinitionControlFactory:
		implement: Users\Components\Admin\IRoleDefinitionControlFactory
		parameters: [Users\Authorization\Role role]
		arguments: [%role%]