login:
	title: "Administration"
	form:
		email:
			label: "E-mail address"
			placeholder: "E-mail address"
			title: "Your E-mail address"
			messages:
				required: "Please type your E-mail"
				wrongFormat: "Your E-mail address has wrong format"

		password:
			label: Password
			placeholder: Password
			title: "Your Password"
			messages:
				required: "Please type your Password"

		login:
			caption: "Sing In"



overview:
	title: "Users overview"
	rowTitle:
		name: Name
		roles: Roles
		actions: Actions

	actions:
		edit: edit
		remove: remove


user:
	detail:
		title: "User detail"

	form:
		username:
			label: "Username (*)"
			messages:
				required: "Please type a username"

		email:
			label: "E-mail (*)"
			messages:
				required: "Please type an E-mail address"

		first_name:
			label: "First name"

		last_name:
			label: "Last name"

		role:
			label: "Role (*)"

		save:
			caption: "Save"

		messages:
			success: "User has been successfully saved"
			usernameExists: "Username \"%username%\" is already taken"
			emailExists: "E-mail %email% is already taken"
			missingRole: "Role is missing. Pick another one."



roles:
	title: "User's roles"
	rowTitle:
		name: Name
		parent: Parent
		actions: Actions

	actions:
		add: "+ add a new Role"
		edit: "edit"
		remove: "remove"



newRole:
	title: "New Role"
	form:
		name:
			label: "Name"
			messages:
				required: "Type a name of new Role"

		parent:
			label: "Parent"
			prompt: "pick a parent"

		save:
			caption: "Save"

		messages:
			success: "Role \"%roleName%\" has been successfully created"
			roleAlreadyExists: "Role with name \"%roleName%\" already exists"
			missingRole: "You cannot use Role \"%roleName%\" as a parent. Pick different parent role."



roleDefinition:
	title: "[%roleName%] permissions"
	rowTitle:
		privilege: Privilege
		state: State

	messages:
		success: "New Role settings has been successfully saved"
		errro: "An Error occurred while saving Role settings"



roleRemoval:
	title: "Role removal"
	warning: "The Role <strong>%roleName%</strong> is going to be removed <strong>PERMANENTLY</strong>"
	actions:
		remove: "remove"
		cancel: "cancel"

	messages:
		success: "The role \"%roleName%\" has been successfully removed"
		roleInUse: "The role \"%roleName%\" cannot be removed. It is still in use."



messages:
	userNotFound: "Requested user does not exist"
	roleNotFound: "Requested role does not exist"